<body>

    <!-- Header -->
    <header id="top" class="header" style="background-image:url(/assets/bg.png); background-size:100% 100%;">
        <div class="text-vertical-center">
            <strong>
            <span style="display:inline-block"><p style="font-size:300%;">지금 </p></span>
            <span style="display:inline-block"><p style="font-size:600%; color:orange;">JUCIY</p></span>
            <span style="display:inline-block"><p style="font-size:300%;"> 에 가면</p></span>
            </strong>
            <h3>얼마나 기다려야 할까?</h3>
            <br>
            <a href="#weather" class="btn btn-dark btn-lg">Go Down</a>
        </div>
    </header>

    <!-- Weather -->
    <form action="/home/reg">
    <div style="background-image:url(/assets/bgjuice.png); background-size:100% 100%; margin-bottom:20px">
    <section id="weather" style="height:700px;" class="weather" >
        <div class="container">
            <div style="height:120px;"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-center">
                    <h2>날씨는 어때?</h2>
                    <div style="display:inline-block;">
                    <div style="height:100px; width:100px; display:inline-block;">
                        <input type="radio" id="sunny" name="weather_sel" class="btttn" value="1"/>
                        <label for="sunny" style="background-image:url(/assets/sunny.png); background-size:100%;"></label>
                    </div>
                    <div style="height:100px; width:100px; display:inline-block;">
                        <input type="radio" id="rainny" name="weather_sel" class="btttn" value="2"/>
                            <label for="rainny" style="background-image:url(/assets/rainny.png); background-size:100%; "></label>
                    </div>
                    </div>
                    
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <h2>어디로 갈거야?</h2>
                    <div class"col-lg-10 col-lg-offset-1" style="display:inline-block;">
                    <div style="height:40px; width:80px; display:inline-block;">
                        <input type="radio" id="gngc" name="region" class="btttn" value="강남구청"/>
                        <label for="gngc" class="hanna">강남구청</label>
                    </div>
                    <div style="height:40px; width:80px; display:inline-block;">
                        <input type="radio" id="ghd" name="region" class="btttn" value="경희대" />
                        <label for="ghd" class="hanna">경희대</label>
                    </div>
                    <div style="height:40px; width:80px; display:inline-block;">
                        <input type="radio" id="krd" name="region" class="btttn" value="고려대청" />
                        <label for="krd" class="hanna">고려대</label>
                    </div>
                    <br>
                    <div style="height:40px; width:80px; display:inline-block;">
                        <input type="radio" id="sggd" name="region" class="btttn" value="성균관대"/>
                        <label for="sggd" class="hanna">성균관대</label>
                    </div>
                    <div style="height:40px; width:80px; display:inline-block;">
                        <input type="radio" id="ssyd" name="region" class="btttn" value="성신여대" />
                        <label for="ssyd" class="hanna">성신여대</label>
                    </div>
                    <div style="height:40px; width:80px; display:inline-block;">
                        <input type="radio" id="ssd" name="region" class="btttn" value="숭실대"/>
                        <label for="ssd" class="hanna">숭실대</label>
                    </div>
                    <br>
                    <div style="height:40px; width:80px; display:inline-block;">
                        <input type="radio" id="srd" name="region" class="btttn" value="시립대" />
                        <label for="srd" class="hanna">시립대</label>
                    </div>
                    <div style="height:40px; width:80px; display:inline-block;">
                        <input type="radio" id="sc" name="region" class="btttn" value="신촌점"/>
                        <label for="sc" class="hanna">신촌점</label>
                    </div>
                    <div style="height:40px; width:80px; display:inline-block;">
                        <input type="radio" id="ehwd" name="region" class="btttn"value="이화여대" />
                        <label for="ehwd" class="hanna">이화여대</label>
                    </div>
                    </div>
                </div>
                </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center" style="margin-top:40px;">
                    <button class="bttn bttn-dark hanna" type="submit">돌려돌려 뀨잉뀨잉</button>
                </div>
            </div>
            </div>
            </section>
        </div>
    </form>
        
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <h4><strong>고생하신 분들</strong></h4><br>
                </div>
            </div>
        </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1 text-center">
                             <div style="height:100px; width:100px; display:inline-block;">
                                <img src="/assets/likelion.png" width="60" height="60"></label><br><br>
                                <p style="color:orange;">멋쟁이 사자처럼 서강대학교</p>
                            </div>
                            <br><br>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-phone fa-fw"></i>김예찬 | 박경록 | 이호동 | 최형규</li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-lg-offset-1 text-center">
                                <hr class="small">
                                <p class="text-muted">Copyright &copy; 멋쟁이 사자처럼 서강대학교</p>
                            </div>
                        </div>
                    </div>
    </footer>

    <!-- jQuery -->
    <script src="/assets/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    </script>

</body>

<style>
    input[type=radio] {
    display:none;
    margin:10px;
}

    input[name=weather_sel] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: white;
    border-color: #ddd;
    width:80px;
    height:80px;
    border-width:2px;
    border-color:black;
    border-style:solid;
    border-radius:5px;
    display:inline-block;
}

    input[name=region] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    background-color: white;
    border-color: #ddd;
    width:80px;
    height:40px;
    border-width:2px;
    border-color:black;
    border-style:solid;
    border-radius:5px;
    display:table-cell;
    text-align:center;
}

    input[type=radio]:checked + label { 
    background-image: none;
    box-shadow: 0 0 3pt 2pt #020D93;
}
    

  
  .btttn{
    width:100px;
    height:100px;
    border-width:2px;
    border-color:#53585F;
    border-style:solid;
    border-radius:5px;
    background-color:white;
    display:inline;
    margin:10 10 10 10;
    outline:0;
  }
  
</style>